DJANGO_DEBUG=TRUE
DJANGO_SECRET_KEY="w5yesn9=a4hl*k"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DATABASE_ENGINE='django.db.backends.postgresql_psycopg2'
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=django_rest_api